button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.flex {
  justify-content: center;
}

.aic {
  align-items: center;
}

.action-btn-wrapper {
  gap: 10px;
}

.btn-primary {
  background-color: blue;
  color: white;
  padding: 8px 16px;
}

.btn-primary:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  height: 100dvh;
  width: 100dvw;
  background-color: #f3f2f2;
}

.card {
  padding: 32px;
  border: 1px solid gray;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.otp-input-wrapper {
  gap: 10px;
}

.otp-input {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  border-radius: 5px;
}

.otp-input:focus {
  border: 2px solid black;
}

.error-input {
  border-color: red;
}